<!-- 
   - Welcome/index.html.erb 
   - Author: Danielle Fudger
   - Created: April, 2014
   - 
   - This is the homepage for the app. From here they can choose if they want to view or add a bookmark.
   -->

<h1>Bookmarking App</h1>
<h5>An AlphaSights Challenge</h5>
<br>

<%= link_to "Create a bookmark", new_bookmark_path, :class => 'btn btn-primary' %>
<%= link_to "View Sites", {controller: "sites"}, :class => 'btn btn-primary' %>

