<!-- 
   - Welcome/index.html.erb 
   - Author: Danielle Fudger
   - Created: April, 2014
   - 
   - This is the homepage for the app. From here they can choose if they want to view or add a bookmark.
   -->
<h1>Bookmarking App</h1>
<br>
<%= link_to "Create a bookmark", new_bookmark_path %>
<br><br>
<%= link_to "View all bookmarks", controller: "bookmarks" %>
<br><br>


