<!-- 
   - Sites/index.html.erb 
   - Author: Danielle Fudger
   - Created: April, 2014
   - Lists all of the sites, and their corresponding bookmarks.
   -->

<h1>Sites</h1>

<!-- Loop through each site in the db and display the bookmarks for each -->
<% @sites.each do |site| %>
	<h4><%= site.url %></h4>
	<ul>
    <% site.bookmarks.each do |i| %>
  	 <li>
      <%= link_to i.title, i %>
      
     </li>
    <% end %>
  </ul>
	<br>

<% end %>

<%= link_to 'Home', {controller: "welcome"}, :class => 'btn btn-primary' %>